In [4]:
import numpy as np
import pandas as pd

In [5]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

In [13]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
women_survived = train_data.loc[train_data.Sex == 'female'][train_data.Survived == 1 ]
total_women = train_data.loc[train_data.Sex == 'female']
rate_of_women_survival = len(women_survived)/len(total_women)
print(f"Survival rate of women: {rate_of_women_survival}")

Survival rate of women: 0.7420382165605095

/tmp/ipykernel_42/2348063233.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  women_survived = train_data.loc[train_data.Sex == 'female'][train_data.Survived == 1 ]

In [9]:
men_survived = train_data.loc[train_data.Sex == 'male'][train_data.Survived == 1 ]
total_men = train_data.loc[train_data.Sex == 'male']
rate_of_men_survival = len(men_survived)/len(total_men)
print(f"Survival rate of men: {rate_of_men_survival}")

Survival rate of men: 0.18890814558058924

/tmp/ipykernel_42/842341012.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  men_survived = train_data.loc[train_data.Sex == 'male'][train_data.Survived == 1 ]

In [10]:
total_data =  len(train_data)
children = total_data - len(total_men) - len(total_women)
children

0

that means no specific cateogry of children

Random Forest Algorithm for classification purpose
100 decision trees with depth =5

In [11]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]
features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X= pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators = 100, max_depth = 5, random_state = 1)
model.fit(X,y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('Submission.csv', index= False)
print("Submission saved")

Submission saved

In [12]:
print(output)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]